<a href="https://colab.research.google.com/github/AlanPerdomo/Topicos-de-Big-Data-em-Python/blob/main/2%C2%BA_Exerc%C3%ADcio_de_Nota_Final_(NF).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Escreva um programa Pandas para somar, subtrair, multiplicar e dividir duas séries Pandas.

In [ ]:
import pandas as pd

serie1 = pd.Series([1,2,3,4,5])
serie2 = pd.Series([22,33,44,55,66])

soma = serie1 + serie2
subtracao = serie1 - serie2
multiplicacao = serie1 * serie2
divisao = serie1 / serie2

print("Soma: \n", soma)
print("Subtração: \n", subtracao)
print("Multiplicação: \n", multiplicacao)
print("Divisao: \n", divisao)

2. Escreva um programa Pandas para converter um array NumPy em uma série Pandas.

In [ ]:
import pandas as pd
import numpy as np

array = np.array([1, 2, 3, 4, 5])
serie = pd.Series(array)

print(serie)

3. Escreva um programa Pandas para converter um dicionário (dict) em uma série Pandas.

In [ ]:
import pandas as pd 

dicionario = {"Alan":1,"Perdomo":2,"e":3,"Silva":4}
serie = pd.Series(dicionario)

print(serie)

4. Escreva um programa Pandas para converter uma determinada série em um array.

In [ ]:
import pandas as pd

serie = pd.Series([1, 2, 3, 4, 5])
array = serie.values

print(array)

5. Escreva um programa para ordenar uma Serie.

In [16]:
import pandas as pd
import random

array = []
for num in range (5):
    index = random.randint(0, 1000)
    array.append(index)

serie = pd.Series(array)
serie_ordenada = serie.sort_values()

print(serie_ordenada)

1     77
2    243
3    255
0    342
4    764
dtype: int64

6.

In [ ]:
import pandas as pd

data = {
    'x':[78,85,96,80,86],
    'y':[84,94,89,83,86],
    'z':[86,97,96,72,83]
}

df = pd.DataFrame(data)

print(df)

7.

In [ ]:
import pandas as pd

data = {
    'name': ["Anastasia", "Dimas", "Katherine", "James", "Emily", "Michael", "Matthew", "laura", "Kevin", "Jonas"],
    'score': [12.5, 9.0, 16.5, 10.3, 9.0, 20.0, 14.5, 8.2, 8.0, 19.0],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ["yes", "no", "yes", "no", "no", "yes", "yes", "no", "no", "yes",]
}
df = pd.DataFrame(data)

questao_A = df[df['attempts'] > 2]['name']
print("Pessoas que tiveram mais que 2 tentativas: \n", questao_A)
print("----------------------------------------")

#quetao_B
df['qualify'] = df['qualify'].apply(lambda x: 'Sim' if x == 'yes' else 'Não')

questao_C = df[df['score'] < 10.0]['name']
print("Pessoas com pontuação menor que 10.0: \n", questao_C)
print("----------------------------------------")

questao_D = df[df["qualify"] == "Sim"]["name"]
print("Pessoas com Quelificação positiva: \n", questao_D)
print("----------------------------------------")

questao_E = df[["name", "score"]]
print("Nome e pontuação das pessoas: \n", questao_E)
print("----------------------------------------")

questao_Fmed = df["score"].mean()
questao_Fmod = df["score"].mode()
print("Média: ", questao_Fmed)
print("Moda: ", questao_Fmod)
print("----------------------------------------")

questao_G = df.sort_values(by="score", ascending=False)
print("Dataframe ordenado por pontuação: \n", questao_G)
print("----------------------------------------")

questao_H = df.describe()
print("Estatisticas: \n", questao_H)
print("----------------------------------------")